# This file is a template, and might need editing before it works on your project.
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/rust/tags/
image: "rustlang/rust:nightly"

# Optional: Pick zero or more services to be used on all builds.
# Only needed when using a docker container to run your tests in.
# Check out: http://docs.gitlab.com/ce/ci/docker/using_docker_images.html#what-is-a-service
#services:
#  - mysql:latest
#  - redis:latest
#  - postgres:latest

# Optional: Install a C compiler, cmake and git into the container.
# You will often need this when you (or any of your dependencies) depends on C code.
#before_script:
#- apt-get update -yqq
#- apt-get install -yqq --no-install-recommends build-essential

test:latest:
  image: "rust:latest"
  before_script:
  - apt-get update
  - apt-get install -q -y build-essential libssl1.0-dev
  script:
  - rustc --version && cargo --version
  - cargo test --all --verbose

test:nightly:
  image: "rustlang/rust:nightly"
  before_script:
  - apt-get update
  - apt-get install -q -y build-essential libssl1.0-dev
  script:
  - rustc --version && cargo --version
  - cargo test --all --verbose
